.rate-stars {
    width: 196px;
    height: 36px;
}

.red {
    color: #FF6060;
}

.grey {
    fill: grey;
}

@media (max-width : 768px) {
    .rate-stars {
        width: 98px;
        height: 18px;
    }
}
