
.img-logo {
    width: 210.38px;
    height: 68px;
}

.link {
    gap: 10px;
}

.link-spec {
    font-weight: 500;
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding-right: 60px;
    
}

.link-spec:hover {
    text-decoration: underline;
}

.footer {
    background-color: black;
    height: 209px;
    width: 1440px;
    color: white;
}

.logo-reserved {
    align-items: center;
    gap: 40px;
}

.logo {
    margin-top: 60px;
    height: 100%;
}