.background-container {
    background-color: #F6F6F6;
    width: 89.2%;
    min-height: auto;
    border-radius : 25px;
    margin: 50px;
}

.container-housings {
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    color: white;
    font-size: 18px;
    scrollbar-width: none;
    font-weight: 700;
    justify-content: space-evenly;
    padding: 10px;
}

.card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container-apartement {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    object-fit: cover;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.card-image-container {
    position: relative;
}

.card-title {
    background-color: rgba(255, 96, 96, 0.8); ;
    border-bottom: 10px;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    color: white;
    -webkit-text-stroke: 0.5px white;
    padding: 8px; 
    margin: 0;
    margin-bottom: 10px;
}

@media (max-width : 768px) {

    .background-container {
        margin: 0;
    }

    .container-housings {
        background-color: white;
        width: 95%;
    }

    .card {
        width: 100%;
        height: 255px;
        margin-top: 20px;
    }

    .card-img {
        width: 100%;
        height: 255px;
    }
}