.container {
    position: relative;
    margin-top: 50px;
    filter: drop-shadow(0px 4px 2px #000000);
}

.container-housing {
    background-color: #F6F6F6;
    width: 1240px;
    height: 829px;
    border-radius : 25px;
    margin: 50px;
}

.landscape {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    border: 1px;
    filter: brightness(0.4);
}

.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 3px 3px #000000);
    font-size: 48px;
    color: white
}