.background-container {
    background-color: #F6F6F6;
    width: 1240px;
    max-height: 829px;
    border-radius : 25px;
    margin: 50px;
}

.container-housings {
    flex-wrap: wrap;
    overflow-y: scroll;
    color: white;
    font-size: 18px;
    scrollbar-width: none;
    font-weight: 700;
    justify-content: space-evenly;
    padding: 10px;
}

.card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(220,86,86,1) 0%, rgba(255,121,121,1) 100%);
    margin-top: 50px;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 20px;
}

.container-apartement {
    display: flex;
    flex-wrap: wrap;
}