.collapse-container {
    background-color: #FF6060;
    border-radius: 5px;
    width: 80%;
    height: 54px;
    color: white;
    font-size: 24px;
    padding-left: 10px;
    cursor: pointer;
}

.collapse-content {
    flex-direction: column;
    width: 80%;
    background-color: #F6F6F6;

}

.collapse {
    width: 100%;
    margin-bottom: 30px;
}

.vector {
    background-color: white;
    color: white;
}

