.landscape-about {
    width: 87%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    border: 1px;
    margin-bottom: 30px;
}

.landscape-home {
    width: 87%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    border: 1px;
    filter: brightness(0.4);
}

@media (max-width : 768px) {
    .img-logo {
        width: 140px;
        height: 46px;
    }

    .link-spec {
        padding-right: 10px;
        font-size: 18px;
    }
}