.carrousel {
    width: 100%;
}

.slide.active {
    width: 90%;
}

.slide img {    
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius : 25px; 
}

.slide-container {
    margin-top: 30px;
    width: 100%;
    height: 415px;
}

.button-container {
    position: absolute;
    width: 88%;
    top: 270px;
    height: 0 !important;
}

.back,
.next {
  background: transparent;
  border: none;
  cursor: pointer;
}

.slide-indicator {
    position: relative;
    top: 200px;
    color: white;
    font-size : 18px;
}

@media (max-width :768px) {
    .slide.active img {
        height: 225px;
    }

    .slide-container {
        height: 225px;
    }

    .button-container {
        height: 19.8px;
        top: 180px;
    }

    .next img,
    .back img {
        height: 19px;
    }

    .slide-indicator {
        visibility: hidden;
    }
}
